.vscode/
.idea/
*.iml

.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/

artifacts/
logs/
*.log

# git
.git
.gitignore

*.ipynb_checkpoints/
model_checkpoints/
ansible/.vault_pass
