__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/

.venv/
env/
venv/

.ipynb_checkpoints/

.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db

data/*
!data/*.dvc      
!data/.gitignore 
model/*
!model/*.dvc
dist/*
!dist/*.dvc

logs/
*.log
.cache/
pytest_cache/
__pycache__/

.dvc/tmp/
.dvc/cache/


secrets/
.dvc/config.local
